.page-title-bg {
    background-size: cover;
    background-position: center;
  }
  
  .page-title h2 {
    margin-top: -9px;
    margin-bottom: 10px;
    font-size: 44px;
    line-height: 1.3;
  }
  
  @media only screen and (max-width: 991px) {
    .page-title h2 br {
      display: none;
    }
  }
  
  .page-title li {
    font-size: 18px;
    font-weight: 500;
  }
  
  .page-title li:not(:last-child) {
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
  }
  
  .page-title li:not(:last-child):after {
    right: 0;
    position: absolute;
    content: '/';
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }