.single-process {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    margin-bottom: 50px;
  }
  
  .process-bg {
    background-position: 55% 20%;
    background-repeat: no-repeat;
  }
  
  @media only screen and (max-width: 1199px) {
    .process-bg {
      background-position: 55% 5%;
      background-size: 85%;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .process-bg {
      background-image: none !important;
    }
  }
  
  .single-process-wrapper:nth-child(even) {
    margin-top: 225px;
  }
  
  @media only screen and (max-width: 991px) {
    .single-process-wrapper:nth-child(even) {
      margin-top: 0;
    }
  }