.header {
    min-height: 100px;
  }
  
  .header .header-main.sticky {
    background-color: #ffffff;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .header .header-main.sticky .logo .default-logo {
    display: none;
  }
  
  .header .header-main.sticky .logo .sticky-logo {
    display: block;
  }
  
  .header .header-main .logo .sticky-logo {
    display: none;
  }
  
  .header .header-main.style--one .main-menu #menu-button {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }
  
  .header .header-main.style--one .main-menu .nav {
    margin-right: 17px;
  }
  
  .header .header-main.style--one .main-menu .nav li {
    position: relative;
  }
  
  .header .header-main.style--one .main-menu .nav li a {
    display: block;
    line-height: 1;
    position: relative;
    z-index: 1;
    text-transform: capitalize;
  }
  
  .header .header-main.style--one .main-menu .nav li ul {
    position: absolute;
    left: 0;
    top: -2000px;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    width: 210px;
    padding: 15px 0;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    z-index: 9;
  }
  
  .header .header-main.style--one .main-menu .nav li ul li {
    display: block;
    width: 100%;
    line-height: 1;
    font-size: 16px;
  }
  
  .header .header-main.style--one .main-menu .nav li ul li:hover > a {
    margin-left: 5px;
  }
  
  .header .header-main.style--one .main-menu .nav li ul li a {
    padding: 10px 30px;
  }
  
  .header .header-main.style--one .main-menu .nav li ul li ul {
    top: 0;
    left: calc(100% + 20px);
  }
  
  .header .header-main.style--one .main-menu .nav li ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 100%;
  }
  
  .header .header-main.style--one .main-menu .nav > li {
    display: inline-block;
    padding: 0 17px;
  }
  
  .header .header-main.style--one .main-menu .nav > li > a {
    line-height: 100px;
    position: relative;
  }
  
  .header .header-main.style--one .main-menu .nav > li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .header .header-main.style--one .main-menu .offcanvas-trigger {
    display: inline-block;
    width: 30px;
    cursor: pointer;
  }
  
  .header .header-main.style--one .main-menu .offcanvas-trigger span {
    display: block;
    height: 3px;
  }
  
  .header .header-main.style--one .main-menu .offcanvas-trigger span:nth-child(2) {
    margin: 5px 0;
    margin-left: 5px;
  }
  
  .header .header-main.style--one .main-menu .offcanvas-trigger span:nth-child(3) {
    margin-left: 10px;
  }
  
  .header .header-main.style--one .main-menu .offcanvas-trigger:hover span {
    margin-left: 0 !important;
  }
  
  .header .header-main:not(.sticky).text-white .main-menu #menu-button span,
  .header .header-main:not(.sticky).text-white .main-menu #menu-button span:before,
  .header .header-main:not(.sticky).text-white .main-menu #menu-button span:after {
    background-color: #ffffff;
  }
  
  .header .header-main:not(.sticky).text-white .main-menu .nav > li.current-menu-item > a, .header .header-main:not(.sticky).text-white .main-menu .nav > li.current-menu-parent > a, .header .header-main:not(.sticky).text-white .main-menu .nav > li:hover > a {
    opacity: .8;
    color: #ffffff !important;
  }
  
  .header .header-main:not(.sticky).text-white .main-menu .offcanvas-trigger span {
    background-color: #fff;
  }
  
  /* Mobile Menu */
  @media only screen and (max-width: 991px) {
    .header .header-main.style--one {
      padding: 20px 10px !important;
    }
    .header .header-main.style--one .row {
      position: relative;
    }
    .header .header-main.style--one .row div:nth-child(2) {
      position: static;
    }
    .header .header-main.style--one .main-menu {
      text-align: right;
      position: initial;
    }
    .header .header-main.style--one .main-menu #menu-button {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 25px;
      width: 25px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .header .header-main.style--one .main-menu ul.nav {
      // display: none !important;
      position: absolute;
      top: calc(100% + 19px);
      left: 50%;
      right: 50%;
      width: calc(100% - 30px);
      background: #fff;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
      max-height: 350px;
      overflow-y: auto;
      padding: 15px 20px;
      max-width: 800px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 99999;
      margin-right: 0;
      overflow-x: hidden !important;
      transition: all 1s !important;
    }
    .header .header-main.style--one .main-menu ul.nav > li {
      padding: 0;
    }
    .header .header-main.style--one .main-menu ul.nav > li > a {
      font-size: 18px;
    }
    .header .header-main.style--one .main-menu ul.nav ul {
      position: relative;
      left: 0;
      right: auto;
      top: 0;
      width: 100%;
      display: none;
      padding: 0;
      opacity: 1;
      visibility: visible;
      text-align: left;
      z-index: 99999;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
     
    }
    .header .header-main.style--one .main-menu ul.nav ul li {
      overflow: hidden;
    }
    .header .header-main.style--one .main-menu ul.nav ul li:hover > a {
      margin-left: 0;
    }
    .header .header-main.style--one .main-menu ul.nav ul ul {
      position: relative;
      margin-left: 30px;
      left: 0 !important;
      opacity: 1;
      visibility: visible;
    }
    .header .header-main.style--one .main-menu ul {
      text-align: right;
    }
    .header .header-main.style--one .main-menu ul li {
      display: block;
      width: 100%;
    }
    .header .header-main.style--one .main-menu ul li a {
      line-height: 1 !important;
      padding: 12px 15px;
      color: #3f3f3f;
    }
    .header .header-main.style--one .main-menu ul li.current-menu-item > a {
      color: #fb4275 !important;
    }
    .header .header-main.style--one .main-menu .submenu-button {
      display: block;
      position: absolute;
      z-index: 9;
      top: 0;
      right: 15px;
      width: 40px;
      height: inherit;
      line-height: 40px;
      text-align: center;
      color: initial;
    }
    .header .header-main.style--one .main-menu .submenu-button:before {
      font-family: 'FontAwesome';
      content: "";
    }
    .header .header-main.style--one .main-menu .submenu-button.submenu-opened:before {
      content: '\f106';
      color: #f35d46;
    }
    .header .header-main.style--one.text-white .main-menu .nav > li.current-menu-item > a, .header .header-main.style--one.text-white .main-menu .nav > li.current-menu-parent > a, .header .header-main.style--one.text-white .main-menu .nav > li:hover > a {
      color: initial !important;
    }
    .dis {
      display: none !important;
    }
    
  }
  /* Menu Button */
  #menu-button span {
    position: relative;
  }
  
  #menu-button span:before, #menu-button span:after {
    position: absolute;
    content: '';
  }
  
  #menu-button span, #menu-button span:before, #menu-button span:after {
    display: block;
    width: 25px;
    height: 2px;
  }
  
  #menu-button span::before {
    top: -7px;
  }
  
  #menu-button span::after {
    top: 7px;
  }
  
  #menu-button.menu-opened span {
    background-color: transparent !important;
  }
  
  #menu-button.menu-opened span::before {
    -webkit-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
  }
  
  #menu-button.menu-opened span::after {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
  }
  